<h1>таймер обратного</h1>

<input type="text" id="onlynumber" type="number" maxlength="2" value="0" #hour width="30px">
<input type="text" id="onlynumber" type="number" maxlength="2" value="0" #min width="30px">
<input type="text" id="onlynumber" type="number" maxlength="2" value="0" #sec width="30px">
<br>
<br> {{ittimer.hour.toString().length < 2 ? '0' + ittimer.hour : ittimer.hour}}:{{ittimer.min.toString().length < 2 ? '0' + ittimer.min : ittimer.min}}:{{ittimer.sec.toString().length < 2 ? '0' + ittimer.sec : ittimer.sec}} <br>
	<br>

	<button (click)="start(hour.value, min.value, sec.value)" [disabled]="startButton">start</button>
	<button (click)="stop()" [disabled]="stopButton">stop</button>
	<button (click)="wait()">wait</button>
	<button (click)="reset(hour.value = 0, min.value = 0, sec.value = 0)">reset</button>